</div><h1 id="admin-view-name">Admin Dashboard - "{{poll.name }}"</h1>

<div class="poll-created">Poll created on: <div id="created-on"> {{poll.created_on }} </div></div><br>

<div id="poll-end">
  Poll closes: <div id="time-end"> {{poll.time_end }} </div><br>
</div>

<button type="button" id="end-poll" name="end-poll">End Poll</button>

<hr>
<div id="admin-poll-closed">
  <h3 id="time-remaining">Time remaining:</h3>
  <div id="admin-time-clock"></div>
</div>

<h3>Response count:</h3><div id="admin-response-count"></div>

<h3 class="rt-results">Real-time results:</h3>
<div id="admin-poll-results"></div>

<h3>Responses by individual:</h3>
<div id="admin-name-results"></div>

<hr>

<h2 class="summary">Poll Summary</h2>
<h4>Description:</h4>
<p id="poll-view-description">{{poll.description }}</p>

<h4>Questions:</h4>
{{#each poll.questions}}
  <p>{{this}}</p>
{{/each}}

<link rel="stylesheet" type="text/css" href="../css/style.css">
<script type="text/javascript" src="/admin.js"></script>
