</div><h1 id="admin-view-name">Admin Dashboard - "{{poll.name }}"</h1>

<div class="poll-end">
  Poll created on: <div id="created-on"> {{poll.created_on }} </div><br>
  Poll closes: <div id="time-end"> {{poll.time_end }} </div>
</div>

<hr>
<div id="admin-poll-closed">
  <h3>Time remaining:</h3>
  <div id="admin-time-clock"></div>
</div>

<h3>Real-time results:</h3>
<div id="admin-poll-results"></div>

<hr>

<button type="button" id="end-poll" name="end-poll">End Poll</button>

<h2>Poll Summary</h2>
<h4>Description:</h4>
<p id="poll-view-description">{{poll.description }}</p>

<h4>Questions:</h4>
{{#each poll.questions}}
  <p>{{this}}&nbsp&nbsp<button class="poll-vote" type="button" name="poll-vote">Vote</button></p>
{{/each}}

<script type="text/javascript" src="/admin.js"></script>
